.util-text-center {
  text-align: center;
}

// Margin Bottom Sizes
.util-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.util-margin-bottom-medium {
  margin-bottom: 4rem;
}
.util-margin-bottom-large {
  margin-bottom: 7rem;
}

//Padding
.util-padding-left-right {
  padding: 0 1.8rem;
}

// Border
.border-bottom {
  border-bottom: 1px solid $color-white-primary;
  margin: 2rem 0 5rem 0;
}
