// COLOR VARIABLES
$color-white-primary: #f8f9f9;
$color-white-secondary: #f2f3f4;
$color-white-tertiary: #eee8e8;

$color-light: #7b23ff;
$color-primary: #6400fd;
$color-secondary: #5a00e4;
$color-tertiary: #5000ca;

$color-black: #000;
$color-white: #fff;
$color-grey: rgb(71, 69, 69);
// FONT
$default-font-size: 1.5rem;

// GRID Variables
$grid-width: 144rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
